body {
    font-family: 'Segoe UI', sans-serif;
    background: #121212;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #108954;
}

.music-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #181818;
    border-radius: 15px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.song-title {
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0 5px;
}

.artist {
    color: #aaa;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.details {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    padding: 0 1px;
}

.controls {
    margin-top: 10px;
}

.play-btn {
    padding: 6px 12px;
    background: #108954;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: background 0.2s ease;
}

.play-btn:hover {
    background: #1ed760;
}